*{
    background-color: black;
}

.text{
    color: white;
    text-align: center;
    
    
}
#image{
    border: 5px white solid;
    margin: 0%;
    width: 100%;

}
div{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}
h1{
    text-transform: uppercase;
}


